 *{margin:0;padding:0;}
 body{background:url("../img/01.jpg")
     no-repeat center 20%;
     position:relative;
     }
 #header a:hover{text-decoration:none;}
 
 /* 头部 */
 
 

 /* left */
 .left{padding:20px 0 0 10px;}
 .left .a2{padding:20px 0 0 10px;}
 .left .a2 button{margin:0 20px 20px 0;}




 /* right */
 
.right .a1 p{width:100%;line-height:50px;
  border:1px solid red;margin:0 auto;
  font-family:"微软雅黑";
  text-align:center;color:red;
  margin-top:30px;
  font-size:26px;}


 /* 超大PC */
 @media (min-width: 1200px){
body{background-size:100%;} 	
 /* 头部 */
 .toubu{border:1px solid white;
 	    width:100%;
 	     margin:0 auto;
 	  }
 .toubu h1{
 	color: red;text-align: center;
 	font-family:"楷体";
 }
 .toubu h2{
 	color: blue;text-align: center;
 	font-family:"华文行楷";
 	font-size:60px;
 }
 .toubu img{
 	width:8%;
 	margin-left:46%;
 	border-radius:300px;
 	transition:30s;
 }
 .toubu img:hover{
 	transform:rotate(7200deg);
 	transition:30s;
 }




 /* left */
 .left{float:left;
 	border:1px solid white;
 	width:49%;
 	top:0;left:0;
 	
    }
.left .a1{position:relative;}

 .left .a1 .b2{
 	border-radius:40px;
 	display:inline-block;
 	width:40px;
 	height:40px;
 	background:#09F30E;
 	transition:3s;
 	line-height:40px;
 	text-align:center;
 	font-family:"华文行楷";
 	font-size:30px;
 }
 .left .a1 .b2:hover{
	border-radius:40px;
	width:100%;
	transition:3s;
	color:#09F30E;
}


 .left .a1 .b1{
	position:absolute;
	top:0;left:50px;
	font-family:"楷体";
	line-height:40px;
	font-size:20px;
	color:#11F7D9;
}

.left .a2 a{
  display:inline-block;
  font-size:30px;
}
 

/* right */
.right{float:right;
 	border:1px solid white;
 	width:49%;
 	top:0;right:0;

 }











 }

 /* 普通PC */
 @media (min-width:993px) and (max-width:1199px){
  body{background-size:1200px;}
 /* 头部 */
.toubu{border:1px solid white;
 	    width:100%;
 	     margin:0 auto;
 	  }
 .toubu h1{
 	color: red;text-align: center;
 	font-family:"楷体";
 }
 .toubu h2{
 	color: blue;text-align: center;
 	font-family:"华文行楷";
 	font-size:60px;
 }
 .toubu img{
 	width:8%;
 	margin-left:46%;
 	border-radius:300px;
 	transition:30s;
 }
 .toubu img:hover{
 	transform:rotate(7200deg);
 	transition:30s;
 }





 /* left */
 .left{float:left;
 	border:1px solid white;
 	width:49%;
 	top:0;left:0;
 	
    }
.left .a1{position:relative;}

 .left .a1 .b2{
 	border-radius:40px;
 	display:inline-block;
 	width:40px;
 	height:40px;
 	background:#09F30E;
 	transition:3s;
 	line-height:40px;
 	text-align:center;
 	font-family:"华文行楷";
 	font-size:30px;
 }
  .left .a1 .b2:hover{
	border-radius:40px;
	width:100%;
	transition:3s;
	color:#09F30E;
}


 .left .a1 .b1{
	position:absolute;
	top:0;left:50px;
	font-family:"楷体";
	line-height:40px;
	font-size:20px;
	color:#0BF1CA;
}

.left .a2 a{
  display:inline-block;
  font-size:40px;
}


/* right */
.right{float:right;
 	border:1px solid white;
 	width:49%;
 	top:0;right:0;

 }










 }

 /* 平板电脑端 */
 @media (min-width:769px) and (max-width:992px){
 /* 头部 */
 .toubu{border:1px solid white;
 	    width:100%;
 	     margin:0 auto;
 	  }
 .toubu h1{
 	color: red;text-align: center;
 	font-family:"楷体";
 }
 .toubu h2{
 	color: blue;text-align: center;
 	font-family:"华文行楷";
 	font-size:60px;
 }
 .toubu img{
 	width:8%;
 	margin-left:46%;
 	border-radius:300px;
 	transition:30s;
 }
 .toubu img:hover{
 	transform:rotate(7200deg);
 	transition:30s;
 }


 /* left */
 .left{float:left;
 	border:1px solid white;
 	width:49%;
 	position:absolute;
 	top:0;left:0;
 	
    }
.left .a1{position:relative;}

 .left .a1 .b2{
 	border-radius:35px;
 	display:inline-block;
 	width:35px;
 	height:35px;
 	background:#09F30E;
 	transition:3s;
 	line-height:35px;
 	text-align:center;
 	font-family:"华文行楷";
 	font-size:20px;
 }
 .left .a1 .b2:hover{
	border-radius:40px;
	width:100%;
	transition:3s;
	color:#09F30E;
}

 .left .a1 .b1{
	position:absolute;
	top:0;left:50px;
	font-family:"楷体";
	line-height:35px;
	font-size:18px;
	color:#1FEECA;
}

.left .a2 a{
  display:inline-block;
  font-size:40px;
}
 

/* right */
.right{float:right;
 	border:1px solid white;
 	width:49%;
 	position:absolute;
 	top:0;right:0;

 }











 }

 /* 手机端 */
 @media (max-width:768px){
 body{background:url("../img/03.jpeg")
     no-repeat;
 	background-size:1800px;}
  /* 头部 */
 .toubu{border:1px solid white;
 	    width:100%;
 	     margin:0 auto;
 	  }
 .toubu h1{
 	color: red;text-align: center;
 	font-family:"楷体";
 	font-size:50px;
 }
 .toubu h2{
 	color: blue;text-align: center;
 	font-family:"华文行楷";
 	font-size:60px;
 }
 .toubu img{
 	width:18%;
 	margin-left:41%;
 	border-radius:200px;
 	transition:30s;
 }
 .toubu img:hover{
 	transform:rotate(7200deg);
 	transition:30s;
 }




  /* left */
 .left{float:left;
 	border:1px solid white;
 	width:49%;
 	top:0;left:0;
 	
    }

 .left .a1{position:relative;}

 .left .a1 .b2{
 	border-radius:70px;
 	display:inline-block;
 	width:70px;
 	height:70px;
 	background:#09F30E;
 	transition:3s;
 	line-height:70px;
 	text-align:center;
 	font-family:"华文行楷";
 	font-size:40px;
 }
.left .a1 .b2:hover{
	width:100%;
	transition:3s;
	color:#09F30E;
}

 .left .a1 .b1{
	position:absolute;
	top:0;left:80px;
	font-family:"楷体";
	line-height:70px;
	font-size:30px;
	color:#153063;
}
 
.left .a2 a{
  display:inline-block;
  font-size:35px;
}

/* right */
.right{float:right;
 	border:1px solid white;
 	width:49%;
 	top:0;right:0;

 }






 }

 
